// IMPORT THE RESET
@import './Reset.scss';
// IMPORT THE 62.5% AND BORDER BOX
@import './Sizing.scss';
// IMPORT VARIABLES
@import './Variables.scss';
// IMPORT MIXINS




@import '../components/WelcomePage/welcome-page';
@import '../components/Register/register';
@import '../components/LogIn/login'