$logo-font: "Patrick Hand", cursive;
$text-font: "Rubik", sans-serif;

$blue-button: #661fff;
$purple-button: #bd10e0;
$orange-button: #f5a623;
$red-button: #b00020;
$update-button: #ef6003;

$mobile: 700px;
