@import "../../Main-Styles/Variables.scss";
.update-trip-form-container {
  width: 800px;
  margin: auto;
  margin-bottom: 20px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-family: $text-font;
  display: flex;
  flex-direction: column;
  .trip-types {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    .main-label {
      font-weight: 700;

      text-transform: uppercase;
    }
    input {
      padding-top: 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      position: relative;
      background-color: #f1f1f1;
      color: #666;
      top: 10px;
      height: 30px;
      width: 30px;
      border: 0;
      border-radius: 50px;
      margin-right: 7px;
      outline: none;
      &:checked::before {
        position: absolute;
        font: 13px/1 "Open Sans", sans-serif;
        left: 11px;
        top: 7px;
        content: "\02143";
        transform: rotate(40deg);
      }
      &:hover {
        background-color: #f7f7f7;
      }
      &:checked {
        background-color: #f1f1f1;
      }
    }
  } //TRIP-TYPES
  .edit-trip-main-inputs {
    width: 80%;
    margin: auto;
    label {
      font-size: 1.5rem;
      margin-bottom: 10px;
      display: block;
      margin-left: 35px;
    }
    input,
    textarea {
      display: block;
      width: 90%;
      padding: 10px;
      margin: auto;
      margin-bottom: 10px;
      border-radius: 4px;
      border: 1px solid #e6e6e6;
      font-family: $text-font;
    }
  }
  .button-container {
    display: flex;
    .button {
      outline: none;
      font-size: 2rem;
      text-align: center;
      width: 200px;
      margin: auto;
      margin-bottom: 20px;
      padding: 7px;
      border-radius: 10px;

      color: white;
      &:active {
        transform: scale(0.99);
      }
    }
    .cancel {
      background-color: $orange-button;
      border: 2px solid $orange-button;
    }
    .update {
      border: 2px solid $blue-button;
      background-color: $blue-button;
    }
  }
}
.trip-page {
  width: 800px;
  margin: 0 auto;
  font-family: $text-font;
  @media (max-width: $mobile) {
    width: 95%;
  }
  .back-link-container {
    color: gray;
    margin-bottom: 15px;
    a {
      color: gray;
      display: flex;
      align-items: center;
      text-decoration: none;
      p {
        font-size: 1.5rem;
        margin-left: 10px;
      }
    }
  }
  .trip-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
    .trip-text-info {
      width: 48%;
      @media (max-width: $mobile) {
        width: 100%;
      }
      h2 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p {
        font-size: 2rem;
        margin-bottom: 10px;
      }
    }
    .trip-page-img-container {
      width: 40%;
      @media (max-width: $mobile) {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
  } // TRIP INFO
  .button-container {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    @media (max-width: $mobile) {
      width: 100%;
      flex-direction: column;
    }
    .button {
      color: white;
      border: none;
      outline: none;
      border-radius: 20px;
      font-size: 1.75rem;
      text-align: center;
      width: 170px;
      margin: auto;
      padding: 7px;
      @media (max-width: $mobile) {
        width: 80%;
        margin-bottom: 5px;
      }
      &:active {
        transform: scale(0.99);
      }
    }
    .update {
      background-color: $update-button;
    }
    .delete {
      background-color: $red-button;
    }
  }
}
